@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ubuntu";
  src: url("https://assets.ubuntu.com/v1/0c7b8dc0-Ubuntu-R-subset.woff2")
    format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("https://assets.ubuntu.com/v1/4d80ab6d-ubuntu-b-webfont.woff")
    format("woff");
  font-weight: bold;
}

@import "./popper.scss";

.dark {
  color-scheme: dark;
}
body,
.default {
  @apply bg-white dark:bg-zinc-900;
  @apply text-black dark:text-zinc-100;
  @apply transition-colors;
}

.max-w-container {
  @apply max-w-full md:max-w-2xl lg:max-w-4xl xl:max-w-5xl;
  @apply px-4 md:px-0;
}

.blurry {
  @apply border border-black/10 bg-white/60 backdrop-blur dark:border-white/10 dark:bg-black/40 dark:text-zinc-200;
}

.blurry-2:hover {
  @apply border-black/20 dark:border-white/20;
}

.blurry.blurry-2 {
  @apply bg-zinc-100/75  transition-[border] dark:bg-zinc-800/70;
}

hr {
  @apply border-black/10 dark:border-white/10;
}

.btn {
  @apply rounded p-1 opacity-75 hover:bg-black/5 hover:opacity-100 dark:hover:bg-white/10;
}

code::after,
code::before {
  content: "" !important;
}
