@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ubuntu";
  src: url("https://assets.ubuntu.com/v1/0c7b8dc0-Ubuntu-R-subset.woff2")
    format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("https://assets.ubuntu.com/v1/4d80ab6d-ubuntu-b-webfont.woff")
    format("woff");
  font-weight: bold;
}

@import "./popper.scss";

.light-effect::before {
  content: "";
  position: absolute;
  top: -60vh;
  left: 0;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(119, 188, 209, 0.4) 0%,
    rgba(119, 188, 209, 0.3) 60%,
    rgba(119, 188, 209, 0) 100%
  );
  width: 100%;
  height: 100vh;
}
.dark .light-effect::before {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(119, 188, 209, 0.2) 0%,
    rgba(119, 188, 209, 0.05) 60%,
    rgba(119, 188, 209, 0.01) 90%,
    rgba(119, 188, 209, 0) 100%
  );
}

.dark {
  color-scheme: dark;
}
body,
.default {
  @apply bg-white dark:bg-zinc-900;
  @apply text-black dark:text-zinc-100;
  @apply px-3 transition-colors;
}

.max-w-container {
  @apply max-w-full md:max-w-2xl lg:max-w-5xl;
  @apply px-4 md:px-0;
}

.blurry {
  @apply dark-border bg-white/60 backdrop-blur dark:bg-black/40 dark:text-zinc-200;
}

.dark-border {
  @apply border border-black/10 dark:border-white/10;
}

.blurry-2:hover {
  @apply border-black/20 dark:border-white/20;
}

.blurry.blurry-2 {
  @apply bg-zinc-100/75  transition-[border] dark:bg-zinc-800/70;
}

hr {
  @apply border-black/10 dark:border-white/10;
}

.btn {
  @apply rounded p-1 opacity-75 hover:bg-black/5 hover:opacity-100 dark:hover:bg-white/10;
}

code::after,
code::before {
  content: "" !important;
}
