@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('/fonts/Poppins-Regular.ttf');
@import url('/fonts/Poppins-Bold.ttf');
@import url('/fonts/JetBrainsMono-Regular.ttf');

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: url('public/fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  src: url('public/fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrainsMono';
  font-weight: 400;
  src: url('public/fonts/JetBrainsMono-Regular.ttf') format('truetype');
}
body {
  @apply dark:bg-gray-900;
  @apply dark:text-gray-100;
}

.container {
  @apply w-full;
  @apply mx-auto;
  @apply px-6;
  @apply sm:px-0;
}
.glass-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
html.light .glass-bg {
  background-image: url(/images/glass-bg.jpg);
}
html.dark .glass-bg {
  background-image: url(/images/glass-bg-dark.jpg);
}
